<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- Controller 注册信息 -->
	<bean id="EreicRoleController" class="com.h2isea.corp.ereicRole.ctrl.EreicRoleController">
		<property name="ereicRoleModel" ref="EreicRoleModel" />
		<property name="views">
			<props>
				<prop key="select">/com/h2isea/corp/ereicRole/view/select.jsp
				</prop>
			</props>
		</property>
	</bean>

	<!-- Model 注册信息 -->
	<bean id="EreicRoleModel" class="com.h2isea.corp.ereicRole.model.EreicRoleModelImpl">
		<property name="simpleDAO" ref="simpleDAO" />
	</bean>
</beans>